body {
  margin: 0;
}

*, *::before, *::after{
  box-sizing: border-box;
}

:root {
  --clr-dark-900: #000;
  --clr-light-200: #f3f3f3;
  --clr-light-100: #fff;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-light-100);
  text-align: center;
  z-index: 100;
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position:absolute;
  right: 0;
  top: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label img {
  position: absolute;
  transform: translateX(-4.5px);
  height: 25px;
  width: 25px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background:#ffffff;
  height:1px;
  width: 1em;
  border: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before  {
  bottom: 4px;
}

.nav-toggle-label span::after  {
  top: 4px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  right: 0;
  background: var(--clr-light-100);
  width: 100%;
  text-align: center;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}

nav a {
  color: #040404;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.1px;
  opacity: 0;
  transition: opacity 150ms ease-in-out ; 
}

nav a:hover {
  opacity: 0.5;
  transition: ease-in-out 150ms
}

.nav-toggle:checked ~ nav {
  display: block;
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-action {
  color: var(--clr-light-200);
  background: var(--clr-dark-900);
  border-radius: 32px;
  padding: 12px 24px;
  display: none;
  margin-right: 2.5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
 } 

 .header-container {
  display: flex;
  margin-left: clamp(1%, 24px, 32%);
  margin-top: clamp(23px, 23px, 34.5px);
  margin-bottom: clamp(23px, 23px, 34.5px);
  max-height: 96px;
 }


.headline-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  
}

.headline-container {

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-inline: 24px;
  text-align: center;
  margin-top: 24px;
  width: 100%;
}

.headline-bold {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 121%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -1px;
  color: var(--clr-dark-900);
}

.headline-small {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: var(--clr-dark-900);
  margin-top: 24px;

}

.headline-button {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 24px;
}

.headline-button-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875em;
  line-height: 143%;
  margin-top: 16px;
  margin-left: 20px;
  
}

.headline-button-action {
  color: var(--clr-light-200);
  background: var(--clr-dark-900);
  border-radius: 32px;
  padding: 12px 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 150%; 
  letter-spacing: 0.1px;
}


.headline-image { 
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-inline: 1rem;
  margin-bottom: 1em;

}

.headline-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;

}

/* Features */

.feature-container {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-light-200);
  width: 100%;
  position: relative;
}

.feature-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.feature-one-title, .feature-two-title, .feature-three-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-dark-900);
  margin-top: 1em;
  
}

.feature-one-top, .feature-two-top, .feature-three-top {
  margin-left: 1em;
}

.feature-one-text, .feature-two-text, .feature-three-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--clr-dark-900);
  margin-top: 1em;
}

/* Section Two */

.section-two {
  width: 100%;
  background: var(--clr-dark-900);
  font-family: 'Inter';
  font-style: normal;
  display: flex;
  flex-direction: row;
}

.section-two-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-inline: min(24px);
  margin-top: min(24px);
}

.section-two-image img {
  justify-content: center;
  width: 100%;
  height: auto;

}

.section-two-text {
  color: var(--clr-light-100);
}

.section-two-header {
  font-weight: 900;
  font-size: 1em;
  line-height: 200%;
  text-align: center;
  letter-spacing: -0.1px;
}

.section-two-middle {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  letter-spacing: 0.1px;
}

.section-two-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;

  }

.section-two-list ul {
  list-style-position: outside;
  padding-left: 12px;

  }
/* Responsive Section */


@media only screen and (min-width: 744px) {

  /* nav-bar */

  .nav-toggle-label {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .headline-image img {
    content: url(images/headline-image-tablet.svg);
  }

  .nav-action {
    display: block;
  }

  nav { 
    all: unset;
  }

  nav a {
    opacity: 1;
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
    justify-content: space-between;
  }

  nav li:first-child{
    margin-left: 0;
  }

  nav li {
    align-items: center;
  }

  /* Section Two */

  .section-two-text {
    justify-content: center;
    align-items: center;
    max-width: 696px;
  }

  .section-two-header {
    flex-wrap: nowrap;
    font-size: 1.5em;
    margin-top: 1.5em;

  }

  .section-two-middle {
    font-size: 1em;
    margin-top: 1.5em;
  }

  .section-two-list {
    font-size: 1em;
    margin-top: 1.5em;
  }

}

/* 1024px */

@media only screen and (min-width: 1024px) and (max-width: 1439px) { 

  .headline-image {
    width: 100%;
    content: url(images/headline-image-large.svg);
  }

  .headline-bold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 107%;
    text-align: center;
    letter-spacing: -1px;
  }

  .headline-container {
    max-width: 630px;
  }

  .feature-container {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .feature-boxes {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;

  }

  .feature-one, .feature-two, .feature-three {
    justify-content: space-between;
    max-width: 340px;
    margin: 1em;

  }

  .feature-one-title, .feature-two-title, .feature-three-title {
   justify-content: flex-start;

  }

  .feature-one-text, .feature-two-text, .feature-three-text {
    text-align: left;
  }


  .section-two-image {
    width: 100%;
  }
  .section-two-image img {
    content: url(images/section-two-1024.svg);
    width: 100%;
    height: auto;
  }

  .section-two-container {
    width: 100%;

  }

  .section-two-text {
    width: 100%;
    display: flex;
    margin-top: 64px;
    margin-bottom: 64px;
    justify-content: space-between;
  }
  
  .section-two-header {
    max-width: 415.5px;
    text-align: left;
    font-size: 1.5em;
    line-height: 133%;
  }

  .section-two-mid {
    max-width: 415.5px;
    margin-right: min(32px);

    
  }
  .section-two-middle {
    text-align: left;
    font-size: 1em;
    line-height: 150%;
    letter-spacing: 0.1px;
  }

  .section-two-list {
    text-align: left;
    font-size: 1em;
    line-height: 150%;
    letter-spacing: 0.1px;
  }
}

/* 1440px */


@media only screen and (min-width: 1440px) {


  .headline-section {
    display: flex;
    width: 100%;
  }

  .headline-container {
    max-width: 490px;
    flex: 1;
    text-align: left;
 
  }
  
  .headline-bold {
    text-align: left;

  }

  .headline-image img {
    max-width: 538px;
    height: auto;
    flex: 1;
  }

  .headline-button {
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0;
    justify-content: flex-start;

  }

  .headline-button-text {
    text-align: left;
    align-items: center;

    margin-top: 0;
    max-width: 236px;

  }

  .headline-image {
    max-width: 490px;
    height: auto;
    content: url(images/headline-image-1440.svg);
  }
}

  
